/*
 *
 * Reset
 *
 */
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; background:#ffffff; }
* { vertical-align:baseline; }
img { vertical-align:middle; }
th, td { vertical-align:middle; }
th { text-align:center; }
*:focus { outline: 0; -moz-outline:0; }
a,a:active,a:hover { outline: 0; -moz-outline:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary { display: block; }
audio,canvas,video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
h1 { font-size: 2em; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; }
legend { padding: 0; }
button,input,select,textarea { font-family: inherit; font-size: 100%; }
button,input,select,textarea { margin: 0; }
button,input { line-height: normal; }
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; }
textarea { vertical-align: top; }
table { border-collapse:separate; border-spacing:0; border-color:#000000; }
hr { border:0; height:1px; width:95%; background:#333333; margin:3px 0;}
form { margin:0; }
@media print { * { overflow:visible; } body { background:#ffffff; } }






/*
 *
 * Common helpers
 *
 */
.expand              { width:100%;            }
.contract            { width:1px;             }
.nowrap              { white-space:nowrap;    }
.nopadding           { padding:0!important;   }
.nomargin            { margin:0!important;    }
.vtop                { vertical-align:top;    }
.vbottom             { vertical-align:bottom; }
.vmiddle             { vertical-align:middle; }
.hright              { text-align:right!important;   }
.hleft               { text-align:left!important;    }
.hjustify            { text-align:justify!important; }
.hcenter             { text-align:center!important;  }
.inline              { display:inline;        }
.relative            { position:relative;        }
.absolute            { position:absolute;        }
.inline-block        { display:inline-block;        }
.block               { display:block;         }
.center              { margin:auto;   }
.code                { font-family:Courier New,monospace; white-space:pre; }
.notext              { font-size:1px!important;line-height:1px!important; }
.noselect            { -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }
.fright              { float:right;   }
.fleft               { float:left;    }
.fclear              { clear:both!important;    }
.ellipsis            { overflow:hidden; text-overflow:ellipsis; }
.pointer             { cursor:pointer; }
.nounderline         { text-decoration:none; }
.nounderline:hover   { text-decoration:none; }
.borderbox           { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.contentbox          { box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }
.monospace           { font-family:Courier New,Courier,monospace!important; }
.hidden              { display:none; }
*:hover .nounderline { text-decoration:none; }

.noprint        { }
.printonly      { display:none;  }
.overflow       { overflow:auto;   -webkit-overflow-scrolling: touch; }
.overflow-x     { overflow-x:auto; -webkit-overflow-scrolling: touch; }
.overflow-y     { overflow-y:auto; -webkit-overflow-scrolling: touch; }
@media print {
  .noprint      { display:none; }
  .printonly    { display:block; }
  .overflow     { overflow:visible; }
  .overflowx    { overflow:visible; }
  .overflowy    { overflow:visible; }
}

table.simple { }
table.simple td { border:0!important; padding:0!important; margin:0!important; }
table.simple th { border:0!important; padding:0!important; margin:0!important; }

















table.report    { width:100%; }
table.report th { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report td { background:#f0f0f0; font:normal 11px/13px Trebuchet MS, sans-serif; color:#555555; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .sub td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .grp td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .sum td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .hover th { background:#d6d6d6; }
table.report .hover td { background:#e6e6e6; }
table.report .selected th { background:#eeeed6; }
table.report .selected td { background:#fafaea; }

.fieldtable td { padding:0; margin:0; }
.fieldtable td.label { text-align:right; padding-top:2px; vertical-align:top; }
.fieldtable td.value { text-align:left; }
.ajaxdialog { border:5px solid #aaaaaa;padding:0; background:#ffffff; }
.ajaxdialog h1 { font:24px/24px Trebuchet MS,sans-serif; color:#999999; padding:15px 20px 10px 15px; border-bottom:1px solid #999999; margin:0; }
.ajaxdialoginner { padding:15px 20px 15px 15px; margin:0; }
.ie7 .ajaxdialoginner { overflow-x:hidden; overflow-y:auto; }
.ajaxdialogfog { background:#000000; }
#AjaxDialogClock { font:bold 10px/13px Courier New, monospace; color:#888888; }

table.tab_buttons td { border-bottom:1px solid #cccccc; padding:0 3px; }
table.tab_buttons td.tab_button { padding:0; border-bottom-width:0; }
table.tab_buttons td.tab_button a { display:block; padding:5px 10px; white-space:nowrap; }
table.tab_buttons td.tab_button a        { background:#fafafa; border:solid #dddddd; border-width:1px 1px 0 1px; text-decoration:none; color:#666666; border-bottom:1px solid #cccccc; }
table.tab_buttons td.tab_button a.active { background:#fdfdfd; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#333333; font-weight:bold; }
table.tab_buttons td.tab_button a:hover        { background:#fbfbfb; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#444444; border-bottom:1px solid #eeeeee; }
table.tab_buttons td.tab_button a.active:hover { background:#fdfdfd; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#666666; }

div.tab_page { background:#fdfdfd; border:solid #cccccc; border-width:0 1px 1px 1px; padding:10px; }
.ajaxdialog .buttons { margin-top:1em; }

.exception { width:50%; box-sizing:border-box; margin:20px auto; }

.message-panel          { border-style:solid; border-width:1px; padding:4px; margin:0; color:#000000; box-sizing:border-box; }
.message-panel-bug      { background:#f4f4f4; border-color:#999999; }
.message-panel-error    { background:#ffeeee; border-color:#eebbbb; }
.message-panel-warning  { background:#fcfcf0; border-color:#e0e088; }
.message-panel-question { background:#eeeeff; border-color:#bbbbee; }
.message-panel-success  { background:#eeffee; border-color:#bbeebb; }
.message-panel-info     { background:#f4f4f4; border-color:#cccccc; }

.message          { text-align:left; padding:2px 2px 2px 19px; background-position:1px 50%; background-repeat:no-repeat; }
.message-bug      { background-image:url(../ico/Bug16.gif); }
.message-error    { background-image:url(../ico/Error16.gif); }
.message-warning  { background-image:url(../ico/Warning16.gif); }
.message-question { background-image:url(../ico/Question16.gif); }
.message-success  { background-image:url(../ico/Success16.gif); }
.message-info     { background-image:url(../ico/Info16.gif); }

.progress-message { padding-top:2px; padding-bottom:2px; border-bottom:1px solid #fcfcfc; }



/*
 *
 * Deprecated Controls
 *
 */
.calendar table { background:#ffffff; border-collapse:separate; border:1px solid #666666; }
.calendar td, .calendar th { border:1px solid #ffffff; padding:0; margin:0; background:#ffffff; }
.calendar .weekday a, .calendar .weekend a, .calendar .monthx a, .calendar .selectedday a { display:block; text-align:center; color:#000000; padding:5px; }
.calendar .weekday a       { background:#fafafa; text-decoration:none;}
.calendar .weekday a:hover { background:#dddddd; text-decoration:none;}
.calendar .weekend a       { background:#f0f0f0; text-decoration:none;}
.calendar .weekend a:hover { background:#dddddd; text-decoration:none;}
.calendar .selectedday a       { background:#aaaaff; text-decoration:none;}
.calendar .selectedday a:hover { background:#dddddd; text-decoration:none;}
.calendar .monthx a       { background:#cccccc; text-decoration:none; padding:2px;}
.calendar .monthx a:hover { background:#f0f0f0; text-decoration:none; padding:2px;}
.calendar .day, .calendar .month { text-align:center; color:#000000; padding:2px; background:#cccccc; }

.colorbox-popup a.null       { display:block; padding:3px 0 2px 0; margin:0; text-align:center; text-decoration:none; background:#ffffff; color:#444444; font:normal 10px/12px Trebuchet MS, sans-serif; }
.colorbox-popup a.null:hover { background:#f0f0f0; color:#000000; text-decoration:none; }

.checkbox-anchor                    { white-space:nowrap; }
.checkbox                           { width:15px; height:15px; background-repeat:no-repeat; background-position:50% 50%; vertical-align:middle;}
.checkbox-checked                   { background-image:url(../img/checkbox-checked.gif                  ); }
.checkbox-unchecked                 { background-image:url(../img/checkbox-unchecked.gif                ); }
.checkbox-dirty-checked             { background-image:url(../img/checkbox-dirty-checked.gif            ); }
.checkbox-dirty-unchecked           { background-image:url(../img/checkbox-dirty-unchecked.gif          ); }
.checkbox-readonly-checked          { background-image:url(../img/checkbox-readonly-checked.gif         ); }
.checkbox-readonly-unchecked        { background-image:url(../img/checkbox-readonly-unchecked.gif       ); }
.checkbox-readonly-dirty-checked    { background-image:url(../img/checkbox-readonly-dirty-checked.gif   ); }
.checkbox-readonly-dirty-unchecked  { background-image:url(../img/checkbox-readonly-dirty-unchecked.gif ); }








/*
 *
 * Oxygen Controls
 *
 */
.formPane, .formLocked, .formButton { box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

.formButton       { vertical-align:baseline; }

.formPane         { vertical-align:baseline; border-radius:3px; border:1px solid #999999; font:normal 12px/14px Trebuchet MS, sans-serif; padding:4px; }
.formPane         { background-color:#ffffff; border-color:#999999; color:#666699; }
.formPane:focus   { background-color:#fcfcfc; border-color:#666666; color:#444477; }


.formPaneInnerWrap  { position:absolute; float:left; left:0; cursor:pointer; }
.formPaneAnchorWrap { position:absolute; float:right; right:0; cursor:pointer; }
.formPaneAnchor     { display:inline-block; background:url(../img/form-pane-anchor.png) 50% 50% no-repeat; width:15px; height:15px; }

.formLocked       { background-color:#fbfbfb; border-color:#999999; color:#999999; }
.formLocked:focus { background-color:#fafafa; border-color:#777777; color:#777777; }

.formDropDown          { position:absolute; display:block; z-index:1000; border-radius:5px; border:1px solid #b3b3b3; background-color:#ffffff; font:normal 12px/14px Helvetica,Arial,sans-serif; margin-top:0; }
.formDropDown a        { color:#333333; text-decoration:none; }
.formDropDown a:hover  { color:#000000; text-decoration:none; }
.formDropDownHook      { height:7px; background:url(../img/form-dropdown-hook.gif) 50% 0 no-repeat; margin-top:-7px; }
.formDropDownHead      { height:16px; background:url(../img/form-dropdown-head-bg.gif) 0 0 repeat-x; border-bottom:1px solid #c5c0cf; border-radius:5px 5px 0 0; padding:8px 5px; font:normal 12px/18px Helvetica,Arial,sans-serif!important; text-transform:uppercase; text-decoration:none; text-align:center; color:#666666; }
.formDropDownFoot      { height:16px; background:url(../img/form-dropdown-foot-bg.gif) 0 0 repeat-x; border-top:1px solid #dddddd; border-radius:0 0 5px 5px; padding:7px 5px; font:normal 12px/18px Helvetica,Arial,sans-serif!important; color:#666666; }
.formDropDownFootRight { float:right; margin-right:10px; }
.formDropDownBody      { padding:10px; }

.formDropDown a.option         { display:block; padding:5px 5px!important; text-align:left!important; margin:0!important; font-weight:normal!important; border-radius:3px!important; color:#777777!important; }
.formDropDown a.option:hover   { color:#000000!important;background:#f0f0f0!important; }

.formDropDownHead a.button            { float:left; display:block; color:#a8a5ad!important; cursor:pointer; border:1px solid #b0b0b0; border-radius:10px; background:#ffffff; text-decoration:none; }
.formDropDownHead a.button:hover      { color:#666666!important; border-color:#777777; background-color:#f4f4f4; text-decoration:none; }
.formDropDownFoot a.button            { float:left; display:block; color:#777777!important; cursor:pointer; border:1px solid #b0b0b0; border-radius:3px; background:#ffffff; font:normal 10px/15px Trebuchet MS, sans-serif!important; text-transform:uppercase; text-decoration:none; height:15px; padding:0 6px; margin-right:3px; }
.formDropDownFoot a.button:hover      { color:#666666!important; border-color:#777777; background-color:#f4f4f4; text-decoration:none; }
.formDropDownFoot a.button.selected   { color:#000000!important; border-color:#333333; background-color:#d3d6c2; text-decoration:none; }
.formDropDownHead a.button-prev       { float:left;  width:15px; height:15px; background:#ffffff url(../img/form-dropdown-prev.png) 50% 50% no-repeat; }
.formDropDownHead a.button-next       { float:right; width:15px; height:15px; background:#ffffff url(../img/form-dropdown-next.png) 50% 50% no-repeat; }
.formDropDownFoot a.button-prev       { float:right; width:18px; height:15px; padding:0; background:#ffffff url(../img/form-dropdown-pprev.png) 50% 50% no-repeat; border-right:0; border-top-right-radius:0; border-bottom-right-radius:0; margin:0; }
.formDropDownFoot a.button-next       { float:right; width:18px; height:15px; padding:0; background:#ffffff url(../img/form-dropdown-nnext.png) 50% 50% no-repeat; border-left:1px dotted #aaaaaa; border-top-left-radius:0; border-bottom-left-radius:0; margin:0; }
.formDropDownFoot a.button-next:hover { border-left:1px dotted #aaaaaa; }
.formDropDownFoot a.button-am         { float:right; padding:0 3px; border-right:0; border-top-right-radius:0; border-bottom-right-radius:0; margin:0; }
.formDropDownFoot a.button-pm         { float:right; padding:0 3px; border-left:1px dotted #aaaaaa; border-top-left-radius:0; border-bottom-left-radius:0; margin:0; }
.formDropDownFoot a.button-pm:hover   { border-left:1px dotted #aaaaaa; }
.formDropDownFoot .formPane           { padding:1px; border:1px solid #bbbbbb!important; font:normal 10px/13px Andale Mono,monospace!important; letter-spacing:0!important; vertical-align:1px; border-radius:0!important; color:#666666!important; background:#ffffff!important; }
.formDropDownFoot .formPane:focus     { border:1px solid #bbbbff!important; background:#ffffff!important;}

.formDate                         { width:9.0em; text-align:left; cursor:pointer; }
.formDateAnchor                   { background:url(../img/form-date-anchor.png) 50% 50% no-repeat; }
.formDateDropDown                 { width:210px; }
.formDateDropDown td              { margin:0!important; padding:0!important; border:0!important; background:#ffffff!important; }
.formDateDropDown th              { margin:0!important; padding:0!important; border:0!important; background:#ffffff!important; }
.formDateDropDown th.day          { font:normal 9px/9px Helvetica,Arial,sans-serif!important; padding-top:4px!important; padding-bottom:4px!important; color:#bbbbbb!important; text-transform:uppercase!important; text-align:center!important; }
.formDateDropDown td.empty        { }
.formDateDropDown td.day          { font:bold 11px/11px Helvetica,Arial,sans-serif!important; width:100px; }
.formDateDropDown td.day a        { display:block; padding:7px 0 7px 0!important; text-align:center!important; margin:0 1px 1px 0!important; font-weight:bold!important; border-radius:3px!important; color:#777777!important; }
.formDateDropDown td.past a       { color:#aaaaaa!important;}
.formDateDropDown td.weekend a    { background:#f8f8f8!important;}
.formDateDropDown td.day a:hover  { background:#f0f0f0!important; color:#000000!important; }
.formDateDropDown td.selected a   { background:#d3d6c2!important; color:#000000!important; }

.formColor                          { width:4.0em; text-align:left; cursor:pointer; }
.formColorDropDown                  { width:250px; }
.formColorDropDown td               { margin:0!important; padding:0!important; border:0!important; }
.formColorDropDown th               { margin:0!important; padding:0!important; border:0!important; }
.formColorDropDown td.color         { line-height:1px!important; width:100px; }
.formColorDropDown td.color a       { display:block; width:12px; height:12px; border-radius:2px; margin:1px; }
.formColorDropDown td.color a:hover { border:1px solid #000000; margin:0; }

.formTime                             { width:7em; text-align:left; cursor:pointer; }
.formTimeAnchor                       { background:url(../img/form-time-anchor.png) 50% 50% no-repeat; }
.formTimeDropDown                     { width:200px; }
.formTimeDropDown .clock              { font:bold 18px/20px Helvetica,Arial,sans-serif!important; color:#666666!important; }
.formTimeDropDown .clock span         { padding:3px 2px 1px 3px; border-radius:3px; cursor:pointer; }
.formTimeDropDown .clock span.focus   { background:#eeeeee; }
.formTimeDropDown .clock a            { position:absolute; background:#f0f0f0; border-radius:10px; }
.formTimeDropDown .clock a:hover      { background:#d3d6c2; }
.formTimeDropDown .clock a.selected   { background:#c3c6b2; }

.formTimeSpan                         { width:14.0em; text-align:center; cursor:pointer; }
.formTimeSpanInner                    { text-align:center; white-space:nowrap; }
.formTimeSpanAnchor                   { background:url(../img/form-time-anchor.png) 50% 50% no-repeat; }


.formSelectDropDown .formDropDownBody { padding:0; }
.formSelectDropDown a.option { display:block; font:normal 12px/14px Helvetica,Arial,sans-serif; color:#666666; padding:6px 10px; }
.formSelectDropDown a.option:hover    { background:#f0f0f0!important; color:#000000!important; }
.formSelectDropDown a.option.selected { background:#d3d6c2!important; color:#000000!important; }

select[size="0"].formPane,select[size="1"].formPane { -webkit-appearance:none!important; }
.chrome select[size="0"].formPane,.chrome select[size="1"].formPane, .safari select[size="0"].formPane,.safari select[size="1"].formPane { background-image:url(../img/form-pane-anchor.png);background-position:100% 50%;background-repeat:no-repeat; }
.formDropDownPane { padding-right:20px; }

.tagsinput                  { display:inline-block; overflow-y:auto; }
.tagsinput span.tag         { border:1px solid #8eaeed; background:#c1d0ef; color:#40547d; border-radius:2px; display:block; float:left; padding:2px!important; text-decoration:none; margin:0 1px 1px 0; }
.tagsinput span.tag a       { font-weight:bold!important; color:#6179b1; text-decoration:none; }
.tagsinput span.tag a:hover { color:#000000;  }
.tagsinput input            { width:80px; margin:0; padding:3px!important; background:transparent; outline:0; margin:0 1px 1px 0; border-width:0!important; border-radius:2px!important; }
.tagsinput input:focus      { border-width:0!important; }
.tagsinput input.not_valid  { background:#FBD8DB!important; color:#90111A!important; }
.tagsinput div              { display:block; float:left; }
.tagsinput .tags_clear      { clear:both; width:100%; height:0; margin-top:-2px; }



