html, body, div, table, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, article, aside, figure, footer, header, hgroup, nav, section, b,i,u,s,* {
	font-weight:inherit;
	font-style:inherit;
	font-size:100.01%;
	font-family:inherit;
	vertical-align:top;
	margin:0;
	padding:0;
}
th, td {
	vertical-align:middle;
	font-weight:inherit;
	font-style:inherit;
	font-size:100.01%;
	font-family:inherit;
	margin:0;
	padding:0;
	border:0;
}

article, aside, figure, footer, header, hgroup, nav, section { display:block; }
body { background:#ffffff; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
*:focus { outline:0; -moz-outline:0; }

abbr { text-decoration:dotted; }

a img { border:0; }
img { vertical-align:middle; }
a { outline-style:none; }

th { text-align:center; }
hr { border:0; height:1px; width:95%; background:#333333; margin:3px 0;}

.formPane   { vertical-align:baseline; }
.formButton { vertical-align:baseline; }
.formLocked { vertical-align:baseline; }

table.report    { width:100%; }
table.report th { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report td { background:#f0f0f0; font:normal 11px/13px Trebuchet MS, sans-serif; color:#555555; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

table.report .sub td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .grp td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .sum td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

table.report .hover th { background:#d6d6d6; }
table.report .hover td { background:#e6e6e6; }

table.report .selected th { background:#eeeed6; }
table.report .selected td { background:#fafaea; }

.fieldtable td { padding:0; margin:0; }
.fieldtable td.label { padding-top:2px }
.ajaxdialog { border:5px solid #aaaaaa;padding:0; background:#ffffff; }
.ajaxdialog h1 { font:24px/24px Trebuchet MS,sans-serif; color:#999999; padding:15px 20px 10px 15px; border-bottom:1px solid #999999; margin:0; }
.ajaxdialoginner { padding:15px 20px 15px 15px; margin:0; }
.ie7 .ajaxdialoginner { overflow-x:hidden; overflow-y:auto; }
.ajaxdialogfog { background:#000000; }
#AjaxDialogClock { font:bold 10px/13px Courier New, monospace; color:#888888; }


.calendar table { background:#ffffff; border-collapse:separate; border:1px solid #666666; }
.calendar td, .calendar th { border:1px solid #ffffff; padding:0; margin:0; background:#ffffff; }
.calendar .weekday a, .calendar .weekend a, .calendar .monthx a, .calendar .selectedday a { display:block; text-align:center; color:#000000; padding:5px; }
.calendar .weekday a       { background:#fafafa; text-decoration:none;}
.calendar .weekday a:hover { background:#dddddd; text-decoration:none;}
.calendar .weekend a       { background:#f0f0f0; text-decoration:none;}
.calendar .weekend a:hover { background:#dddddd; text-decoration:none;}
.calendar .selectedday a       { background:#aaaaff; text-decoration:none;}
.calendar .selectedday a:hover { background:#dddddd; text-decoration:none;}
.calendar .monthx a       { background:#cccccc; text-decoration:none; padding:2px;}
.calendar .monthx a:hover { background:#f0f0f0; text-decoration:none; padding:2px;}
.calendar .day, .calendar .month { text-align:center; color:#000000; padding:2px; background:#cccccc; }


table.tab_buttons td { border-bottom:1px solid #cccccc; padding:0 3px; }
table.tab_buttons td.tab_button { padding:0; border-bottom-width:0; }
table.tab_buttons td.tab_button a { display:block; padding:5px 10px; white-space:nowrap; }
table.tab_buttons td.tab_button a        { background:#fafafa; border:solid #dddddd; border-width:1px 1px 0 1px; text-decoration:none; color:#666666; border-bottom:1px solid #cccccc; }
table.tab_buttons td.tab_button a.active { background:#fdfdfd; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#333333; font-weight:bold; }
table.tab_buttons td.tab_button a:hover        { background:#fbfbfb; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#444444; border-bottom:1px solid #eeeeee; }
table.tab_buttons td.tab_button a.active:hover { background:#fdfdfd; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#666666; }

div.tab_page { background:#fdfdfd; border:solid #cccccc; border-width:0 1px 1px 1px; padding:10px; }
.buttons1 { margin-top:1em; }


.message-panel          { border-style:solid; border-width:1px; padding:4px; margin:0; color:#000000; }
.message-panel-bug      { background:#f4f4f4; border-color:#999999; }
.message-panel-error    { background:#ffeeee; border-color:#eebbbb; }
.message-panel-warning  { background:#fcfcf0; border-color:#e0e088; }
.message-panel-question { background:#eeeeff; border-color:#bbbbee; }
.message-panel-success  { background:#eeffee; border-color:#bbeebb; }
.message-panel-info     { background:#f4f4f4; border-color:#cccccc; }

.message          { text-align:left; padding:2px 2px 2px 19px; background-position:1px 50%; background-repeat:no-repeat; }
.message-bug      { background-image:url(../ico/Bug16.gif); }
.message-error    { background-image:url(../ico/Error16.gif); }
.message-warning  { background-image:url(../ico/Warning16.gif); }
.message-question { background-image:url(../ico/Question16.gif); }
.message-success  { background-image:url(../ico/Success16.gif); }
.message-info     { background-image:url(../ico/Info16.gif); }

.progress-message { padding-top:2px; padding-bottom:2px; border-bottom:1px solid #fcfcfc; }

.reportmenupanel { /* background:url('oxy/skn/striped_bg.gif'); */ }

.expand   { width:100%;            }
.contract { width:1px;             }
.nowrap   { white-space:nowrap;    }
.vtop     { vertical-align:top;    }
.vbottom  { vertical-align:bottom; }
.vmiddle  { vertical-align:middle; }
.hright   { text-align:right!important;   }
.hleft    { text-align:left!important;    }
.hjustify { text-align:justify!important; }
.hcenter  { text-align:center!important;  }
.inline   { display:inline;        }
.block    { display:block;         }
.center   { margin:auto;   }
.code     { font-family:Courier New,monospace; white-space:pre; }
.notext   { font-size:1px;line-height:1px; }

.nounderline { text-decoration:none; }
.nounderline:hover { text-decoration:none; }
*:hover .nounderline { text-decoration:none; }


/*
 *
 * Print
 *
 */
.noprint       { }
.printonly     { display:none;  }
.overflow      { overflow:auto; }
@media print {
	*            { overflow:visible; }
	body         { background:#ffffff; }
	.noprint     { display:none; }
	.printonly   { display:block; }
	.overflow    { overflow:visible; }
}
