/*
 *
 * Reset
 *
 */
html, body, div, table, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, article, aside, figure, footer, header, hgroup, nav, section, b,i,u,s,* {
	font-weight:inherit;
	font-style:inherit;
	font-size:100.01%;
	font-family:inherit;
	vertical-align:top;
	margin:0;
	padding:0;
}
th, td {
	vertical-align:middle;
	font-weight:inherit;
	font-style:inherit;
	font-size:100.01%;
	font-family:inherit;
	margin:0;
	padding:0;
	border:0;
}
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
body { background:#ffffff; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
*:focus { outline:0; -moz-outline:0; }
abbr { text-decoration:dotted; }
a img { border:0; }
img { vertical-align:middle; }
a { outline-style:none; }
th { text-align:center; }
hr { border:0; height:1px; width:95%; background:#333333; margin:3px 0;}





/*
 *
 * Common helpers
 *
 */
.expand              { width:100%;            }
.contract            { width:1px;             }
.nowrap              { white-space:nowrap;    }
.vtop                { vertical-align:top;    }
.vbottom             { vertical-align:bottom; }
.vmiddle             { vertical-align:middle; }
.hright              { text-align:right!important;   }
.hleft               { text-align:left!important;    }
.hjustify            { text-align:justify!important; }
.hcenter             { text-align:center!important;  }
.inline              { display:inline;        }
.block               { display:block;         }
.center              { margin:auto;   }
.code                { font-family:Courier New,monospace; white-space:pre; }
.notext              { font-size:1px;line-height:1px; }
.fright              { float:right;   }
.fleft               { float:left;    }
.fclear              { clear:both!important;    }
.nounderline         { text-decoration:none; }
.nounderline:hover   { text-decoration:none; }
*:hover .nounderline { text-decoration:none; }





/*
 *
 * Print
 *
 */
.noprint       { }
.printonly     { display:none;  }
.overflow      { overflow:auto; }
@media print {
	*            { overflow:visible; }
	body         { background:#ffffff; }
	.noprint     { display:none; }
	.printonly   { display:block; }
	.overflow    { overflow:visible; }
}





/*
 *
 * Oxygen Controls
 *
 */

.oxygen-input-box                { vertical-align:baseline; border-radius:4px; border:1px solid #999999; color:#666699; font:normal 12px/14px Trebuchet MS, sans-serif; padding:4px; background-color:#ffffff; }
.oxygen-input-box:focus          { color:#444477; background-color:#fcfcfc; border-color:#666666; }

.oxygen-input-box-readonly       { color:#999999!important; background-color:#fbfbfb!important; border-color:#999999!important; }
.oxygen-input-box-readonly:focus { color:#777777!important; background-color:#fafafa!important; border-color:#777777!important; }

.oxygen-input-box-dropdown a                 { text-decoration:none!important; color:#333333!important; }
.oxygen-input-box-dropdown a:hover           { text-decoration:none!important; color:#000000!important; }

.oxygen-input-box-anchor       { background-image:url('../img/input-box-anchor.gif'); background-repeat:no-repeat; background-position:100% 50%; }
.oxygen-input-box-anchor:focus { background-image:url('../img/input-box-anchor-focus.gif'); }

.oxygen-input-box-dropdown           { position:absolute; display:block; z-index:1000; border-radius:5px; border:1px solid #b3b3b3; background-color:#ffffff; font:normal 12px/14px Helvetica,Arial,sans-serif; margin-top:28px; }
.oxygen-input-box-dropdown-hook      { height:10px; background:url('../img/input-box-dropdown-hook.gif') 50% 0 no-repeat; margin-top:-10px; }
.oxygen-input-box-dropdown-header    { height:16px; background:url('../img/input-box-dropdown-header-bg.gif') 0 0 repeat-x; border-bottom:1px solid #c5c0cf; border-radius:5px 5px 0 0; padding:8px 12px; font:normal 13px/18px Helvetica,Arial,sans-serif!important; text-transform:uppercase; text-decoration:none; text-align:center; color:#666666; }
.oxygen-input-box-dropdown-footer    { height:16px; background:url('../img/input-box-dropdown-footer-bg.gif') 0 0 repeat-x; border-top:1px solid #dddddd; border-radius:0 0 5px 5px; padding:7px 12px; }
.oxygen-input-box-dropdown-body      { padding:10px; }

.oxygen-input-box-dropdown-header a.button       { float:left; display:block; color:#a8a5ad!important; cursor:pointer; border:1px solid #b0b0b0; border-radius:10px; background:#ffffff; text-decoration:none; }
.oxygen-input-box-dropdown-header a.button:hover { color:#666666!important; border-color:#777777; background:#f4f4f4; text-decoration:none; }
.oxygen-input-box-dropdown-footer a.button       { float:left; display:block; color:#777777!important; cursor:pointer; border:1px solid #b0b0b0; border-radius:3px; background:#ffffff; font:normal 10px/15px Trebuchet MS, sans-serif!important; text-transform:uppercase; text-decoration:none; height:15px; padding:0 6px; margin-right:3px; }
.oxygen-input-box-dropdown-footer a.button:hover { color:#666666!important; border-color:#777777; background:#f4f4f4; text-decoration:none; }

.oxygen-input-box-dropdown-header a.button-prev  { float:left; color:#a8a5ad!important; width:15px; height:15px; text-align:center; font:bold 16px/16px Helvetica,Arial,sans-serif!important; }
.oxygen-input-box-dropdown-header a.button-next  { float:right;color:#a8a5ad!important; width:15px; height:15px; text-align:center; font:bold 16px/16px Helvetica,Arial,sans-serif!important; }
.oxygen-input-box-dropdown-footer a.button-prev  { float:right;color:#a8a5ad!important; height:15px; text-align:center; font:bold 16px/16px Helvetica,Arial,sans-serif!important; padding:0 4px 0 4px; border-right:0; border-top-right-radius:0; border-bottom-right-radius:0; margin:0; }
.oxygen-input-box-dropdown-footer a.button-next  { float:right;color:#a8a5ad!important; height:15px; text-align:center; font:bold 16px/16px Helvetica,Arial,sans-serif!important; padding:0 3px 0 5px; border-left:1px dotted #aaaaaa; border-top-left-radius:0; border-bottom-left-radius:0; margin:0; }
.oxygen-input-box-dropdown-footer a.button-next:hover  { border-left:1px dotted #aaaaaa; }


.oxygen-input-box-date                            { width:7em; text-align:left; }
.oxygen-input-box-date-anchor                     { background-image:url('../img/input-box-date-anchor.gif'); background-repeat:no-repeat; background-position:100% 50%; }
.oxygen-input-box-date-anchor:focus               { background-image:url('../img/input-box-date-anchor-focus.gif'); }
.oxygen-input-box-date-dropdown                   { width:240px; }
.oxygen-input-box-date-dropdown td                { margin:0!important; padding:0!important; border:0!important; }
.oxygen-input-box-date-dropdown th                { margin:0!important; padding:0!important; border:0!important; }
.oxygen-input-box-date-dropdown th.day            { font:bold 10px/10px Helvetica,Arial,sans-serif!important; padding-top:5px!important; padding-bottom:5px!important; color:#bbbbbb!important; text-transform:uppercase!important; text-align:center!important; }
.oxygen-input-box-date-dropdown td.empty          { }
.oxygen-input-box-date-dropdown td.day            { font:bold 11px/11px Helvetica,Arial,sans-serif!important; width:100px; }
.oxygen-input-box-date-dropdown td.day a          { display:block; padding:9px 0 9px 0!important; text-align:center!important; margin:1px!important; font-weight:bold!important; border-radius:3px!important; color:#777777!important; }
.oxygen-input-box-date-dropdown td.past a         { color:#aaaaaa!important;}
.oxygen-input-box-date-dropdown td.weekend a      { background:#fcfcfc!important;}
.oxygen-input-box-date-dropdown td.day a:hover    { background:#f8f8f8!important; color:#000000!important; }
.oxygen-input-box-date-dropdown td.selected a     { background:#eeeeee!important; }


.oxygen-input-box-color                           { width:2.5em; text-align:left; }
.oxygen-input-box-color-dropdown                  { width:350px; }
.oxygen-input-box-color-dropdown td               { margin:0!important; padding:0!important; border:0!important; }
.oxygen-input-box-color-dropdown th               { margin:0!important; padding:0!important; border:0!important; }
.oxygen-input-box-color-dropdown td.color         { line-height:1px!important; width:100px; }
.oxygen-input-box-color-dropdown td.color a       { display:block; width:12px; height:12px; border-radius:3px; margin:3px; }
.oxygen-input-box-color-dropdown td.color a:hover { border:2px solid #000000; margin:1px; }




.formPane   { vertical-align:baseline; }
.formButton { vertical-align:baseline; }
.formLocked { vertical-align:baseline; }

table.report    { width:100%; }
table.report th { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report td { background:#f0f0f0; font:normal 11px/13px Trebuchet MS, sans-serif; color:#555555; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

table.report .sub td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .grp td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }
table.report .sum td { background:#e0e0e0; font:bold 11px/13px Trebuchet MS, sans-serif; color:#333333; padding:3px; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

table.report .hover th { background:#d6d6d6; }
table.report .hover td { background:#e6e6e6; }

table.report .selected th { background:#eeeed6; }
table.report .selected td { background:#fafaea; }

.fieldtable td { padding:0; margin:0; }
.fieldtable td.label { padding-top:2px }
.ajaxdialog { border:5px solid #aaaaaa;padding:0; background:#ffffff; }
.ajaxdialog h1 { font:24px/24px Trebuchet MS,sans-serif; color:#999999; padding:15px 20px 10px 15px; border-bottom:1px solid #999999; margin:0; }
.ajaxdialoginner { padding:15px 20px 15px 15px; margin:0; }
.ie7 .ajaxdialoginner { overflow-x:hidden; overflow-y:auto; }
.ajaxdialogfog { background:#000000; }
#AjaxDialogClock { font:bold 10px/13px Courier New, monospace; color:#888888; }


.calendar table { background:#ffffff; border-collapse:separate; border:1px solid #666666; }
.calendar td, .calendar th { border:1px solid #ffffff; padding:0; margin:0; background:#ffffff; }
.calendar .weekday a, .calendar .weekend a, .calendar .monthx a, .calendar .selectedday a { display:block; text-align:center; color:#000000; padding:5px; }
.calendar .weekday a       { background:#fafafa; text-decoration:none;}
.calendar .weekday a:hover { background:#dddddd; text-decoration:none;}
.calendar .weekend a       { background:#f0f0f0; text-decoration:none;}
.calendar .weekend a:hover { background:#dddddd; text-decoration:none;}
.calendar .selectedday a       { background:#aaaaff; text-decoration:none;}
.calendar .selectedday a:hover { background:#dddddd; text-decoration:none;}
.calendar .monthx a       { background:#cccccc; text-decoration:none; padding:2px;}
.calendar .monthx a:hover { background:#f0f0f0; text-decoration:none; padding:2px;}
.calendar .day, .calendar .month { text-align:center; color:#000000; padding:2px; background:#cccccc; }

.colorbox-popup a.null       { display:block; padding:3px 0 2px 0; margin:0; text-align:center; text-decoration:none; background:#ffffff; color:#444444; font:normal 10px/12px Trebuchet MS, sans-serif; }
.colorbox-popup a.null:hover { background:#f0f0f0; color:#000000; text-decoration:none; }


table.tab_buttons td { border-bottom:1px solid #cccccc; padding:0 3px; }
table.tab_buttons td.tab_button { padding:0; border-bottom-width:0; }
table.tab_buttons td.tab_button a { display:block; padding:5px 10px; white-space:nowrap; }
table.tab_buttons td.tab_button a        { background:#fafafa; border:solid #dddddd; border-width:1px 1px 0 1px; text-decoration:none; color:#666666; border-bottom:1px solid #cccccc; }
table.tab_buttons td.tab_button a.active { background:#fdfdfd; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#333333; font-weight:bold; }
table.tab_buttons td.tab_button a:hover        { background:#fbfbfb; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#444444; border-bottom:1px solid #eeeeee; }
table.tab_buttons td.tab_button a.active:hover { background:#fdfdfd; border:solid #cccccc; border-width:1px 1px 0 1px; text-decoration:none; color:#666666; }

div.tab_page { background:#fdfdfd; border:solid #cccccc; border-width:0 1px 1px 1px; padding:10px; }
.buttons1 { margin-top:1em; }


.message-panel          { border-style:solid; border-width:1px; padding:4px; margin:0; color:#000000; }
.message-panel-bug      { background:#f4f4f4; border-color:#999999; }
.message-panel-error    { background:#ffeeee; border-color:#eebbbb; }
.message-panel-warning  { background:#fcfcf0; border-color:#e0e088; }
.message-panel-question { background:#eeeeff; border-color:#bbbbee; }
.message-panel-success  { background:#eeffee; border-color:#bbeebb; }
.message-panel-info     { background:#f4f4f4; border-color:#cccccc; }

.message          { text-align:left; padding:2px 2px 2px 19px; background-position:1px 50%; background-repeat:no-repeat; }
.message-bug      { background-image:url(../ico/Bug16.gif); }
.message-error    { background-image:url(../ico/Error16.gif); }
.message-warning  { background-image:url(../ico/Warning16.gif); }
.message-question { background-image:url(../ico/Question16.gif); }
.message-success  { background-image:url(../ico/Success16.gif); }
.message-info     { background-image:url(../ico/Info16.gif); }

.progress-message { padding-top:2px; padding-bottom:2px; border-bottom:1px solid #fcfcfc; }

.reportmenupanel { /* background:url('oxy/skn/striped_bg.gif'); */ }


.checkbox-anchor                    { white-space:nowrap; }
.checkbox                           { width:15px; height:15px; background-repeat:no-repeat; background-position:50% 50%; vertical-align:middle;}
.checkbox-checked                   { background-image:url(../img/checkbox-checked.gif                  ); }
.checkbox-unchecked                 { background-image:url(../img/checkbox-unchecked.gif                ); }
.checkbox-dirty-checked             { background-image:url(../img/checkbox-dirty-checked.gif            ); }
.checkbox-dirty-unchecked           { background-image:url(../img/checkbox-dirty-unchecked.gif          ); }
.checkbox-readonly-checked          { background-image:url(../img/checkbox-readonly-checked.gif         ); }
.checkbox-readonly-unchecked        { background-image:url(../img/checkbox-readonly-unchecked.gif       ); }
.checkbox-readonly-dirty-checked    { background-image:url(../img/checkbox-readonly-dirty-checked.gif   ); }
.checkbox-readonly-dirty-unchecked  { background-image:url(../img/checkbox-readonly-dirty-unchecked.gif ); }
